@font-face {
    font-family: Tiny5;
    src: url("/assets/Tiny5-Regular.ttf");
}

html{
    width: 20%;
    height: auto;
    background-color: #222;
}

.login_content{}

.pyquest_logo{
    margin: auto;
    width: 30%;
}

.pyquest{
    color: white;
    font-size: 15vh;
    font-family: Tiny5;
    text-align: center;
}